@use "sass:color";

@mixin bg-gradient($color){
  $gradient-color: color.adjust($color, $lightness: $gradient-modifier);
  background: linear-gradient($gradient-angle, $color, $gradient-color);
  box-shadow: 0 3px 5px rgba($color, .2);
}
