@use "sass:color";

.btn {
  display: inline-block;
  width: auto;
  height: auto;
  border: 0;
  cursor: pointer;
  color: $btn-default-color;
  padding: $btn-padding;
  font-size: $font-size-base;
  @include bg-gradient($btn-default-bg);

  // States
  &:hover,
  &:focus {
    @include bg-gradient(color.adjust($btn-default-bg, $lightness: -$focus-modifier));
  }

  &:active {
    @include bg-gradient(color.adjust($btn-default-bg, $lightness: -$active-modifier));
  }

  &:disabled {
    opacity: .7;
    cursor: not-allowed;
  }

  // Size variants
  &--lg {
    padding: $btn-padding-lg;
    font-size: $font-size-lg;
  }

  // Color variants
  &--success {
    @include bg-gradient($green);

    &:hover,
    &:focus {
      @include bg-gradient(color.adjust($green, $lightness: -$focus-modifier));
    }

    &:active {
      @include bg-gradient(color.adjust($green, $lightness: -$active-modifier));
    }
  }

  &--fail {
    @include bg-gradient($red);

    &:hover,
    &:focus {
      @include bg-gradient(color.adjust($red, $lightness: -$focus-modifier));
    }

    &:active {
      @include bg-gradient(color.adjust($red, $lightness: -$active-modifier));
    }
  }

  // Buttons with icons in it
  svg, img {
    display: inline-block;
    max-width: 100%;
    max-height: 80%;
  }
}
