@use "sass:color";

.hidden {
  display: none;
}

// Generate color backgrounds
@each $colorname, $color in $colors {
  .bg-#{$colorname} {
    background-color: $color;

    input:focus + &,
    input:checked + &{
      background-color: color.adjust($color, $lightness: -$focus-modifier);
    }
  }

  .bg-gradient-#{$colorname} {
    $color-dark: color.adjust($color, $lightness: -$focus-modifier);
    @include bg-gradient($color);

    input:focus + &,
    input:checked + &{

      @include bg-gradient($color-dark);
    }
  }
}
